@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Amatic SC';
  font-size: 1.5rem; }

nav {
  margin: 30px;
  background-color: #accbd3;
  padding: 20px; }
  nav::after {
    content: "";
    clear: both;
    display: table; }

.m-navigation {
  list-style: none;
  float: left; }
  .m-navigation li {
    display: inline-block;
    margin-left: 20px; }
    .m-navigation li:first-child {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px; }
    .m-navigation li a:link {
      text-decoration: none;
      text-transform: uppercase;
      color: #333;
      transition: color 0.2s ease-out; }
    .m-navigation li a:hover {
      text-decoration: none;
      text-transform: uppercase;
      color: white; }

.m-buttons {
  float: right; }
  .m-buttons.-main:link, .m-buttons.-hot:link {
    text-align: center;
    padding: 10px;
    display: inline-block;
    border-radius: 100px;
    width: 150px;
    background-color: #DE8F6E;
    text-decoration: none;
    text-transform: uppercase;
    color: white; }
  .m-buttons.-main:hover, .m-buttons.-hot:hover {
    background-color: #d97f59;
    transition: background-color 0.2s ease-out; }
